/* Main CSS file that imports all others */
@import url('variables.css');
@import url('animations.css');
@import url('navbar.css');
@import url('hero.css');
@import url('sections.css');
@import url('responsive.css');
@import url('footer.css');
@import url('about.css');

/* Additional global styles can go here */